Repository swsnu/swpp2019-team16, pull requests merged in 2019-11, with the labels that each got.

#76 docs: add design and planning
  README.md
  frontend/src/modules/carpoolRequest/carpoolRequest.js
Labels: documentation

#80 chore: edit heading component
  frontend/src/components/common/Heading/Heading.js
  frontend/src/components/common/Heading/__snapshots__/Heading.test.js.snap
  frontend/src/modules/group/index.js
Labels: frontend

#83 ci: Add sonar-cloud
  .travis.yml
  frontend/sonar-project.properties
Labels: ci/cd

#81 feat: Add requestPage (component, container)
  frontend/src/components/Request/Checkbox/Checkbox.js
  frontend/src/components/Request/Checkbox/Checkbox.test.js
  frontend/src/components/Request/Checkbox/__snapshots__/Checkbox.test.js.snap
  frontend/src/components/Request/Checkbox/index.js
  frontend/src/components/Request/Request.js
  frontend/src/components/Request/Request.test.js
  frontend/src/components/Request/__snapshots__/Request.test.js.snap
  frontend/src/components/Request/index.js
  frontend/src/containers/RequestContainer/RequestContainer.js
  frontend/src/containers/RequestContainer/RequestContainer.test.js
  frontend/src/containers/RequestContainer/__snapshots__/RequestContainer.test.js.snap
  frontend/src/containers/RequestContainer/index.js
  frontend/src/modules/carpoolRequest/carpoolRequest.js
  frontend/src/pages/RequestPage/RequestPage.js
  frontend/src/pages/RequestPage/RequestPage.test.js
  frontend/src/pages/RequestPage/__snapshots__/RequestPage.test.js.snap
Labels: frontend, important

#86 feat: add user group page
  frontend/src/components/UserGroup/UserGroup.js
  frontend/src/components/UserGroup/UserGroup.test.js
  frontend/src/components/UserGroup/__snapshots__/UserGroup.test.js.snap
  frontend/src/components/UserGroup/index.js
  frontend/src/containers/UserGroupContainer/UserGroupContainer.js
  frontend/src/containers/UserGroupContainer/UserGroupContainer.test.js
  frontend/src/containers/UserGroupContainer/__snapshots__/UserGroupContainer.test.js.snap
  frontend/src/containers/UserGroupContainer/index.js
  frontend/src/modules/group/group.js
  frontend/src/modules/group/group.test.js
  frontend/src/modules/index.js
  frontend/src/pages/GroupPage/GroupPage.js
  frontend/src/pages/GroupPage/GroupPage.test.js
  frontend/src/pages/GroupPage/__snapshots__/GroupPage.test.js.snap
Labels: frontend, important

#113 fix: edit carpool_request url & edit user command to event
  backend/api_gateway/carpool_request_endpoint/tests/test_carpool_request_controller.py
  backend/api_gateway/carpool_request_endpoint/urls.py
  backend/api_gateway/carpool_request_endpoint/views.py
  backend/api_gateway/user_endpoint/views.py
  backend/carpool_request_service/carpool_request/app/carpool_request_application_service.py
  backend/common/command/tests/test_user_login_command.py
  backend/common/command/tests/test_user_logout_command.py
  backend/common/event/user_login_event.py
  backend/common/event/user_logout_event.py
  backend/user_service/user/infra/adapter/tests/test_user_login_event_handler.py
  backend/user_service/user/infra/adapter/tests/test_user_logout_event_handler.py
  backend/user_service/user/infra/adapter/user_login_event_handler.py
  backend/user_service/user/infra/adapter/user_logout_event_handler.py
  backend/user_service/user/management/commands/runservice.py
Labels: backend, important
